.articleMeta {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 8px;
}

.articleDate {
  color: var(--component-text-color);
}

.articleTags {
  display: flex;
  flex-wrap: wrap;
}

.articleStats {
  font-size: 14px;
  margin-bottom: 5px;
  color: #586069;
}

.likes {
  margin-right: 16px;
}
