.links {
  margin-bottom: 20px;
}

.link {
  color: var(--link-color);
  text-decoration: underline;
  margin-bottom: 0px;
  padding: 4px 0;
}

.link:hover {
  color: var(--link-hover-color);
  text-decoration: underline;
}

.linkBold {
  color: var(--text-color);
  font-weight: bold;
  margin-bottom: 0px;
  padding: 4px 0;
}

.linkBold:hover {
  color: var(--link-color);
  text-decoration: underline;
}

.section {
  margin-bottom: 20px;
}

.publications > ul > li {
  margin-bottom: 15px;
}
