.links {
  margin-bottom: 20px;
}

.link {
  color: var(--link-color);
  text-decoration: underline;
  margin-bottom: 0px;
  padding: 4px 0;
}

.link:hover {
  color: var(--link-hover-color);
  text-decoration: underline;
}

.form {
  padding: 20px;
  background-color: var(--background-color);
}

.appBar {
  background: var(--header-color);
}
