/* ===== General Options ===== */
:root {
  --text-color: #323232;
  --background-color: #e8f0e8;
  --container-color: #ffffff;
  --button-bg-color: #FF8809;
  --button-hover-bg-color: #BE6C15;
  --link-color: #008080;
  --link-hover-color: #FF4500;
  --box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
  --input-border-color: #DEDEDE;
  --input-hover-border-color: #212121;
  --placeholder-color: #757575;
  --main-color: #007B59;
  --footer-text-color: #A9A9A9;
  --drawer-icon-color: #757575;
  --highlight-color: #CA8A03;
  --highlight-hover-color: #a06f03;
  --heading-color: #4A7C6A;
  --subheading-color: #4A7C6A;
  --component-text-color: #4b5563;
  --horizontal-line: #95baad;
}

[data-theme="dark"] {
  --text-color: #d3d3d3;
  --background-color: #1d1f1d;
  --container-color: #2f2f2f;
  --button-bg-color: #BE6C15;
  --button-hover-bg-color: #9e520e;
  --link-color: #6cbfbe;
  --link-hover-color: #FA8174;
  --box-shadow: 0px 4px 10px rgba(255, 255, 255, 0);
  --input-border-color: #404040;
  --input-hover-border-color: #CCCCCC;
  --placeholder-color: #B2B2B2;
  --main-color: #2f3232;
  --footer-text-color: #535252;
  --drawer-icon-color: #D4D4D4;
  --highlight-color: #E6B64C;
  --highlight-hover-color: #c0973e;
  --heading-color: #d3d3d3;
  --subheading-color: #d3d3d3;
  --component-text-color: #d3d3d3;
  --horizontal-line: #585b5b;
}

body {
  margin: 0;
  padding: 0;
  color: var(--text-color);
  background-color: var(--background-color);
  font-size: 16px;
  line-height: 1.5;
}

html[lang="en"] body {
  font-family: 'Noto Sans JP', 'Segoe UI';
}

html[lang="ja"] body {
  font-family: 'Noto Sans JP', 'Segoe UI';
}

h1 {
  margin-top: 0px;
  margin-bottom: 0px;
}

h2 {
  margin-top: 25px;
  margin-bottom: 5px;
}


a {
  color: inherit;
  text-decoration: none;
}

ul {
  margin-top: 0px;
  margin-bottom: 25px;
  padding-left: 20px;
}

li {
  margin-top: 0px;
  margin-bottom: 8px;
}

footer {
  text-align: center;
  margin-top: 20px;
  margin-bottom: 10px;
  color: var(--footer-text-color);
  font-size: 10px;
}

html, body {
  height: 100%;
  margin: 0;
}

#__next {
  width: 100%;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.section {
  line-height: 1.5em;
  margin-bottom: 30px !important;
  background-color: var(--container-color);
  border-radius: 8px;
  padding: 25px 23px 20px 23px;
  box-shadow: var(--box-shadow);
  border: 1px solid var(--input-border-color);
  scroll-margin-top: 80px;
}

.section h2 {
  font-size: 25px;
  margin-top: 2px;
  margin-bottom: 15px;
  color: var(--heading-color);
}

.section > ul > li {
  margin-bottom: 10px;
}

.section-hash {
  position: absolute;
  left: -1.5em;
  opacity: 0;
  transition: opacity 0.2s;
}

.link {
  color: var(--link-color);
  cursor: pointer;
}

.link:hover {
  text-decoration: underline;
}

.italic {
  font-style: italic;
}

.bold {
  font-weight: bold;
}

/* ===== _app.tsx ===== */
.main-content {
  flex: 1;
}

/* ===== Layout.tsx ===== */
.container {
  margin-top: 95px !important;
  max-width: 1150px !important;
  background-color: var(--background-color);
  padding-top: 5px !important;
}

.container h1 {
  color: var(--heading-color);
  font-size: 35px;
  margin-bottom: 35px;
  margin-top: 5px;
  margin-left: 15px;
}

/* ===== index.tsx ===== */
.biography {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.biography .profile-text {
  flex-grow: 1;
}

.biography .profile-image {
  margin-left: 18px;
  margin-right: 18px;
  margin-top: 7px;
}

.institution {
  display: flex;
  flex-direction: column;
}

.contact-info {
  display: flex;
  flex-direction: column;
  margin-top: 15px;
}

.contact-item {
  display: flex;
  flex-direction: center;
}

.fa-download {
  margin-right: 8px;
  margin-bottom: -1px;
}

.fa-map {
  margin-right: 8px;
  margin-top: 5px;
}

.fa-envelope {
  margin-right: 8px;
  margin-top: 5.5px;
}

.custom-list,
.custom-list > ul,
.custom-list > ol {
  margin-bottom: -5px;
}

.custom-list > ul > li,
.custom-list > ol > li {
  margin-top: 10px;
  line-height: normal;
  margin-bottom: 5px;
}

.custom-list > ol > li {
  margin-left: -19px;
}

.custom-list > ol > li[data-marker],
.custom-list > ul > li[data-marker] {
  margin-left: -19px;
  display: block;
  list-style-type: none;
}

.custom-list > ul > li[data-marker]:before {
  content: attr(data-marker) ": ";
}

.custom-list > ul > li > ul {
  padding-left: 20px;
  margin-top: 7px;
  margin-bottom: 0px;
  margin-left: 10px;
  list-style: disc;
}

.custom-list ul > li > ul > li {
  margin-bottom: 0px;
}

.news {
  width: 98%;
  height: 150px;
  overflow: auto;
  margin-bottom: 3px;
}

.news > ul {
  margin-bottom: -10px;
}

.news > ul > li {
  margin-left: -19px;
  display: block;
}

.news > ul > li:before {
  content: attr(data-marker) ": ";
}

.experiences,
.education {
  margin-bottom: 0px;
}

.experiences-item,
.education-item {
  padding-left: 5px;
  margin-top: 15px;
  margin-bottom: 8px;
}

.experiences-item .heading,
.education-item .heading {
  color: var(--subheading-color);
  margin-bottom: 12px;
}

.experiences-item .component,
.education-item .component {
  margin-bottom: 5px;
  color: var(--component-text-color);
  display: flex;
  align-items: flex-start;
}

.experiences-item .icon,
.education-item .icon {
  color: var(--subheading-color);
  font-size: 20px;
  margin-left: -2px;
  margin-right: 6px;
  margin-top: 2px;
}

/* ===== blog.tsx ===== */
.blog {
  margin-left: 5px !important;
  margin-bottom: 5px !important;
}

.blog > h3 {
  font-weight: 600;
  margin-bottom: 10px;
  color: var(--subheading-color);
}

/* ===== publications.tsx ===== */
.publication-item {
  padding-left: 5px;
  margin-bottom: 0px;
}

.publication-heading {
  color: var(--subheading-color);
  margin-bottom: 12px;
}

.award {
  display: flex;
  align-items: center;
}

.highlight {
  font-weight: bold;
  font-family: 'Lato';
  font-size: 16.5px;
  color: var(--highlight-color);
}

.highlight > a:hover {
  color: var(--highlight-hover-color);
}

.venue {
  font-size: 16px;
  color: var(--component-text-color);
  margin-top: -2px;
}

.venue-name {
  font-family: 'Lato';
}

.abstract-box {
  margin-top: 22px;
  margin-bottom: 20px;
  width: 93%;
  padding: 0px 20px 0px 20px;
  background-color: #fff;
  box-shadow: 2px 2px 6px rgba(0, 0, 0, 0.1);
  opacity: 0;
  animation: fadeIn 0.3s ease-in-out forwards;
  border: 2px solid #666;
}

.abstract-box p {
  color: #4a4a4a;
  font-style: italic;
  font-size: 17px;
  line-height: 1.5;
}

.abstract-box .abstract-title {
  background-color: #fff;
  font-size: 1.2em;
  font-weight: 800;
  color: #666;
  padding: 0 10px;
  line-height: 1;
  position: absolute;
  top: -12px;
  left: 20px;
}

@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(10px);
  }

  to {
    opacity: 1;
    transform: translateY(0);
  }
}

/* ===== components ===== */
.horizontal-line {
  background-color: var(--horizontal-line);
  margin-top: 0px;
  margin-bottom: 15px;
  margin-left: 0px;
  width: 100%;
  height: 3.0px;
}

.horizontal-subline {
  margin-top: 20px;
  margin-bottom: 15px;
  margin-left: 0px;
  width: 100%;
  height: 1px;
  background-color: var(--input-border-color);
}

.scroll-to-top-button {
  position: fixed;
  bottom: 1.25rem;
  right: 2rem;
  padding: 0.5rem;
  color: var(--main-color);
  background-color: transparent;
  border-radius: 9999px;
  border: none;
}

.scroll-to-top-button svg {
  stroke-width: 4px;
}

.show-more-button {
  display: block;
  margin: -15px auto 35px auto;
  background-color: transparent;
  border: none;
  font-size: 14px;
  text-decoration: underline dotted;
}

.show-more-button:hover {
  color: var(--button-hover-bg-color);
}

@media (max-width: 600px) {
  body {
    font-size: 15px;
  }

  .education,
  .experiences {
    margin-bottom: -5px;
  }

  .experiences-item .icon,
  .education-item .icon {
    margin-top: 1px;
  }

  .highlight {
    font-size: 15px;
  }

  .venue {
    font-size: 15px;
  }

  .container {
    padding: 10px 10px 30px 10px;
    margin-top: 50px !important;
    margin-bottom: -10px !important;
    border-radius: 0px;
  }

  .container h1 {
    margin-left: 10px;
    margin-bottom: 20px;
    margin-top: 25px;
    font-size: 30px;
  }

  .section {
    padding: 25px 20px 20px 20px;
  }

  .news {
    width: 94%;
    margin-bottom: 0px;
  }

  .biography {
    flex-direction: column-reverse;
    align-items: center;
    margin-bottom: 0px;
  }

  .biography .profile-image {
    margin-left: 0;
    margin-right: 0;
    margin-top: 5px;
    margin-bottom: 18px;
  }

  .abstract-box {
    margin-left: -24px;
    width: 97%;
    padding: 0px 15px 0px 15px;
    background-color: #fff;
    border: 2px solid #666;
  }

  .abstract-box p {
    color: #4a4a4a;
    font-style: italic;
    font-size: 15px;
    line-height: 1.4;
  }

  .abstract-box .abstract-title {
    background-color: #fff;
    font-size: 1.1em;
    font-weight: 800;
    color: #666;
    padding: 0 10px;
    line-height: 1;
    position: absolute;
    top: -9px;
    left: 20px;
  }
}

@media (max-width: 750px) {
  .navigation-links {
    display: none;
  }

  .menu-button {
    display: block;
  }
}
