:root {
  --text-color: #323232;
  --background-color: #FFFFFF;
  --button-bg-color: #FF8809;
  --button-hover-bg-color: #BE6C15;
  --link-color: #1771cf;
  --link-hover-color: #FF4500;
  --box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
  --input-border-color: #DEDEDE;
  --input-hover-border-color: #212121;
  --placeholder-color: #757575;
  --main-color: #007B59;
  --footer-text-color: #A9A9A9;
  --drawer-icon-color: #757575;
  --highlight-color: #D72727;
}

[data-theme="dark"] {
  --text-color: #D4D4D4;
  --background-color: #191919;
  --button-bg-color: #BE6C15;
  --button-hover-bg-color: #9e520e;
  --link-color: #81B1D2;
  --link-hover-color: #FA8174;
  --box-shadow: 0px 4px 10px rgba(255, 255, 255, 0.15);
  --input-border-color: #404040;
  --input-hover-border-color: #CCCCCC;
  --placeholder-color: #B2B2B2;
  --main-color: #005A42;
  --footer-text-color: #535252;
  --drawer-icon-color: #D4D4D4;
  --highlight-color: #df4545;
}

body {
  margin: 0;
  padding: 0;
  color: var(--text-color);
  background-color: var(--background-color);
  font-size: 16px;
  line-height: 1.5;
}

html[lang="en"] body {
  font-family: 'Noto Sans JP', 'Segoe UI';
}

html[lang="ja"] body {
  font-family: 'Noto Sans JP', 'Segoe UI';
}

h1 {
  margin-top: 0px;
  margin-bottom: 0px;
}

h2 {
  margin-top: 25px;
  margin-bottom: 5px;
}


a {
  color: inherit;
  text-decoration: none;
}

ul {
  margin-top: 0px;
  margin-bottom: 25px;
  padding-left: 20px;
}

li {
  margin-top: 0px;
  margin-bottom: 8px;
}

footer {
  text-align: center;
  margin-top: 20px;
  margin-bottom: 10px;
  color: var(--footer-text-color);
  font-size: 10px;
}

html, body {
  height: 100%;
  margin: 0;
}

#__next {
  width: 100%;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.main-content {
  flex: 1;
}

.horizontal-line {
  margin-top: 0px;
  margin-bottom: 10px;
  margin-left: 0px;
  width: 100%;
  height: 1px;
  background-color: var(--input-border-color);
}

.pre-wrap {
  white-space: pre-wrap;
  line-height: 1.25;
}

.custom-list {
  margin-bottom: -7px;
}

.custom-list > li {
  margin-top: 0px;
  margin-bottom: 2px;
  margin-left: -19px;
  display: block;
}

.custom-list > li:before {
  content: attr(data-marker) ": ";
}

.custom-nested-list {
  padding-left: 20px;
  margin-top: 0px;
  margin-bottom: -1px;
  margin-left: 10px;
  list-style: disc;
}

.custom-nested-list > li {
  margin-bottom: 0px;
}

.highlight-style {
  font-weight: bold;
  font-style: italic;
  font-family: 'Lato';
  font-size: 16.5px;
  color: var(--highlight-color);
}

.venue {
  font-style: italic;
  font-family: 'Lato';
  font-size: 16.5px;
}

.fa-icon {
  margin-right: 8px;
  margin-bottom: -1px;
}

.scroll-to-top-button {
  position: fixed;
  bottom: 1.25rem;
  right: 2rem;
  padding: 0.5rem;
  color: var(--main-color);
  background-color: transparent;
  border-radius: 9999px;
  border: none;
}

.scroll-to-top-button svg {
  stroke-width: 4px;
}

@media (max-width: 600px) {
  h1 {
    margin-top: -15px;
  }

  body {
    font-size: 14px;
  }

  .highlight-style {
    font-size: 14.5px;
  }

  .venue {
    font-size: 14.5px;
  }
}

@media (max-width: 750px) {
  .navigation-links {
    display: none;
  }

  .menu-button {
    display: block;
  }
}
