.appBar {
  background-color: var(--header-color) !important;
}

.menuButton {
  position: absolute;
  right: 16px;
}

.headerOptions {
  flex-grow: 1;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}

.toolbarCenter {
  display: flex;
  align-items: center;
  justify-content: center;
}

.title {
  flex-grow: 1;
  display: flex;
  align-items: center;
  font-size: 1.3rem;
}

.headerIcon {
  margin-left: 8px;
  margin-right: 12px;
  font-size: 1.1rem;
}

.LanguageSwitcher {
  margin-left: 40px;
  margin-right: -40px;
}

.ThemeSwitcher {
  margin-left: 35px;
  margin-right: -40px;
}

.ThemeSwitcherSmall {
  margin-right: 20px;
}

.button {
  position: relative;
  overflow: hidden;
}

.button:hover {
  background-color: transparent;
}

.button::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 1px;
  bottom: 0;
  left: 0;
  background-color: #d4d4d4;
  transform: scaleX(0);
  transition: transform 0.3s ease-in-out;
  transform-origin: center top;
}

.button:hover::before {
  transform: scaleX(1);
}

@media (min-width: 960px) {
  .menuButton {
    display: none !important;
  }
  .ThemeSwitcherSmall {
    display: none;
  }
}

@media (max-width: 960px) {
  .headerOptions {
    display: none;
  }
}

.drawerContainer {
  width: 250px;
}

.listItem {
  padding-top: 8px; /* theme.spacing(1) はデフォルトで8px */
  padding-bottom: 8px; /* theme.spacing(1) はデフォルトで8px */
}

.listItem:not(:last-child) {
  margin-bottom: 8px; /* theme.spacing(1) はデフォルトで8px */
}

.listItem .MuiListItemIcon-root {
  min-width: 35px;
}

.listItem .MuiListItemText-primary {
  margin-left: 6px;
}

.navigationSection {
  padding-bottom: 16px; /* theme.spacing(2) はデフォルトで16px */
}

.navigationIcon {
  min-width: 35px;
  margin-right: 4px;
}

.externalLink {
  color: rgba(0, 0, 0, 0.87); /* 黒色に近い色で、透明度は87% */
  text-decoration: none;
}

.externalLinkSection {
  padding-top: 16px; /* theme.spacing(2) はデフォルトで16px */
}

.externalLinkIcon {
  margin-left: 3px;
}

.FontAwesomeIcon {
  font-size: 1.5rem;
  width: 20px;
  height: 20px;
}